<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title {% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="David Breitenbuecher and Cam Bui">
<link rel="stylesheet" type="text/css" href="">
</head>
<body>
    {% block content %}
    {% endblock %}

    <script src="../static/app.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

</body>
</html>